/* Reset CSS */

* { margin: 0; /* Selecciona todos los elementos */
    padding: 0;
    box-sizing: border-box;}

/* Global Styles */

:root {
    --color-rojo: rgb(175, 38, 25);
    --color-azulMarino: rgb(20, 61, 107);
    --gris-claro: rgb(243, 240, 240);
    --gris: rgb(210, 209, 209);
    --blanco: white;
}

.roboto { /* Tipografía de fonts.google.com */
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:"wdth" 100; 
  letter-spacing: 2px; /* espacio entre letras */
} 

/* Header */

nav ul.menu {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    list-style: none;
    padding: 0 30px 17px 0;
    gap: 50px; /* espaciado entre ítems */
}

nav ul.menu li a { /* Enlaces */
    text-decoration: none;
    color: var(--color-rojo);
    font-weight: bold;
    font-size: 1.12rem;
}

nav li:hover {
    transform: translateY(2px);
}

nav li {
    transition: all 0.2s ease-in-out;
}

header {
  background-image: url("../assets/img/fondo2.jpg");
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}

header .logo {padding: 30px 0 15px 15px;}

.espacio {
      background-color: var(--color-rojo); /* barra debajo del header */
      height: 10px;
}

/* Main */

main {font-family: Verdana, Geneva, Tahoma, sans-serif;}

main img {width: 100%; height: auto;}

h1 {
    text-align: center; 
    color: var(--color-rojo); 
    font-size: 1.43rem;
    padding: 60px 0 30px 0;
}

.espacioHeader {padding: 80px 0 55px 0;}

.espacioHeader2 {padding: 10px 0 50px 0;}

.texto-principal {
        font-size: 1.12rem;
        color: var(--color-rojo);
        max-width: 60%;
        text-align: center;
        margin: auto;
        padding: 0 0 60px 0;
        line-height: 1.6; /* espacio entre líneas*/
}

.contenedor {
  display: flex;               
  align-items: center;  /* centra verticalmente */
  gap: 20px;   /* espacio entre imagen y texto */
  padding: 20px;
  background-color: var(--color-azulMarino);
  justify-content: space-between;
}

.contenedor .foto {
  max-width: 50%;
  height: auto; /*mantiene la proporción original */
  display: block; /* evita espacio extra debajo de la imagen */
}

.texto {
    color: white;
    font-size: 0.93rem;
    text-align: center;
    line-height: 1.6;
    width: 40%;
    margin: 0 auto 35px;
}

.iModificado {
  width: 150px;
  color: var(--color-azulMarino);
}

.contenedor2 {text-align: center; margin: 70px 0 70px 0;}

.contenedorRef {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          font-size: 0.93rem;
}

.listaRef {
        border: 2px solid var(--gris);
        background-color: var(--gris-claro);
        border-radius: 7px;
        color: var(--color-azulMarino);
        width: 250px;
        margin: 10px 20px 10px 20px;
        padding: 35px;
        line-height: 1.8; /* espacio entre líneas*/ 
}

.listaRef2 {
      border: 2px solid var(--gris);
      background-color: var(--gris-claro);
      border-radius: 7px;
      color: var(--color-azulMarino);
      width: 500px;
      margin: 10px 20px 10px 20px;
      padding: 35px;
      line-height: 1.8; /* espacio entre líneas*/ 
}


.listaCont {
      border: 2px solid rgb(210, 209, 209);
      background-color: var(--gris-claro);
      border-radius: 5px;
      color: var(--color-azulMarino);
      width: 400px;
      margin: 10px 20px 10px 20px;
      padding: 35px;
      line-height: 1.8; /* espacio entre líneas*/          
}

.listaCont ul {list-style:none;}

.listaRef ul {list-style:circle;}

.sangrado {
  margin-left: 20px; /* o padding-left: 20px */
}

.margenAbajo {margin-bottom: 15px;}

.mapa {
  max-width: 840px;
  height: 300px;
  margin: 25px auto 60px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.mapa iframe {
  width: 100%;
  height: 100%;
  border: solid 2px var(--color-azulMarino);
  border-radius: 5px;
}


/* Formulario de Contacto */

form {
    max-width: 50%;
    margin: 0 auto 90px;
    padding:30px;
    border: solid var(--color-rojo) 2px;
    background-color: rgb(252, 249, 249);
    border-radius: 5px;
}

label {
    margin-bottom: 80px; 
    color: var(--color-rojo);
    font-size: 0.87rem
}


input, textarea {
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

[type="submit"]{
        display: block;
        margin: 30px auto 0;
        border-radius: 5px;
        width:80px;
        padding: 8px;
        cursor: pointer;
        background-color: var(--color-azulMarino);
        color: var(--blanco);
        transition: opacity 0.3s ease, transform 0.2s ease;
}

button[type="submit"]:hover {
                  opacity: 0.8; /* un poco más transparente */
                  transform: scale(1.05);
}

textarea { 
      height:100px;
      resize: none;
}

.mensaje {
      text-align: center; 
      color: var(--color-rojo); 
      padding: 25px 0 20px 0;
}

/* Footer */

footer {font-family: Verdana, Geneva, Tahoma, sans-serif;}

.footer1 {
      background-color: var(--color-rojo);
      color: white;
      font-size: 0.81rem;
      padding: 40px 40px 40px 130px;
      line-height: 1.7; /* espacio entre líneas*/
      display: flex;
      justify-content: center; /*centra horizontalmente */
      gap: 40px;
}

.bold {font-weight:bolder;}

.info {width:200px;}

.info p:first-of-type { /* Espacio entre título y contenido */
    margin-bottom: 10px; 
}

.info ul li a { /* enlaces del footer */
                text-decoration: none;
                color: white;     
}

.info li { transition: transform 0.2s ease;} 

.info li:hover { transform: translateX(3px); /* movimiento a la derecha */

}


.footer2 {
      background-color: var(--color-azulMarino);
      color: white;
      font-size: 0.75rem;
      padding: 20px 0 20px 0;
      text-align: center;
      letter-spacing: 0.5px; /* espacio entre letras */
  }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Slider */


.slider img {
        width: 100%;
        height: auto;
        object-fit: cover;
        opacity: 0;
        transition: opacity 3s ease-in-out, transform 3s ease-in-out;
}

.slider img.visible {
  opacity: 1;
}

/* CSS media queries */

@media (max-width:1175px){
        .listaRef {width: 320px; 
                   margin: 10px 35px 10px 35px;
        }
    }

@media (max-width:895px){
        .mapa {max-width: 80%; 
               margin-top: 40px;
        }
        form {max-width: 80%;}
        h1 {font-size: 1.30rem; padding: 50px 0 25px 0;}
        .texto-principal {font-size: 1rem; max-width: 90%;}
        .espacioHeader {padding: 55px 0 40px 0}  
    }

@media (max-width:884px){
        .listaRef {width: 250px; 
                   margin: 10px 20px 10px 20px;
        }
    }

@media (max-width:845px){ /* la imagen pequeña ocupa todo el ancho */
        .texto {line-height: 1.4;}
        .contenedor {display:block;}
        .contenedor .foto {max-width: 100%;}
        .texto {width: 90%; 
                padding-top: 40px;
        }                            
}


@media (max-width:770px){ 
        .footer1 { gap: 0; 
                   padding: 10px 0 30px 0; 
                   justify-content: center; 
                   display: flex; 
                   flex-wrap: wrap; 
        }
        .info { width:80%; 
                text-align: center;
        }

        .info p:first-of-type {
                    margin-bottom: 10px; /* Espacio entre título y contenido */
                    margin-top: 25px;
        }
}

@media (max-width:690px){ 
        .formulario {max-width:400px; 
                     margin: auto;
        }
}

@media (max-width:480px){ 
        .iModificado { width: 100px;}    

}

@media (max-width:400px){ 
        .iModificado { width: 100px;}
        .especial {font-size:0.85rem;}    

}


/* Menú hamburguesa */

/* Botón hamburguesa */

.hamburguesa {
    font-size: 4.37rem; /* tamaño del menú */
    margin-right: 10px;
    cursor: pointer;
    display: none;
    color: var(--color-azulMarino);
}

/* Menú móvil oculto */

#menu {
        position: fixed;
        top: 120px; /* separa del top para que no tape el logo */
        right: -300px;
        width: 220px;
        background-color: rgba(255, 255, 255, 0.95);
        transition: right 0.3s ease;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 10px;
        height: auto; /* solo lo que ocupen los elementos */
}

#menu a {
    text-decoration: none;
    color: var(--color-rojo);
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu.activo {
            right: 10px; /* visible a la derecha */
}

/* Overlay (fondo oscuro) */

#overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        z-index: 900;
}

#overlay.activo {
    opacity: 1;
    visibility: visible;
}


/* Responsive */

@media (max-width: 960px) {
    nav[aria-label="Menu principal"] {
    display: none;
    }

    .hamburguesa {
    display: block;
    }
}